* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10px;
}
a {
    color: inherit;
    text-decoration: none;
}
.header {
    color: black;
    font-size: 2rem;
    padding: 20px;
    border: 1px dashed black;
    text-align: center;
}
.header__link {
    transition: all .5s ease-in-out;
}
.header__link:hover {
    color: peru;
}
.main {
    margin-top: 15px;
}
.main__list {
}
.main__item {
    transition: all .5s ease-in-out;
}
.main__item:not(:last-child) {
    margin-bottom: 5px;
}
.main__item:hover {
    color: darkcyan;
}
.main__link {
}